//output: template.html
center
  a.item( routerLink="/home",    style='margin-right: 10px' ) Home 
  a.item( routerLink="/about",   style='margin-right: 10px' ) About 
  a.item( routerLink="/about/1", style='margin-right: 10px' ) About 1
  a.item( routerLink="/about/2", style='margin-right: 10px' ) About 2
  br
  .outer-outlet
    router-outlet
